src/conf/xml-resources/web-service-references/Servicio/wsdl/localhost_8080/Taller6/Servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://capaServicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://capaServicio/" name="Servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://capaServicio/" schemaLocation="http://localhost:8080/Taller6/Servicio?xsd=1"/>
</xsd:schema>
</types>
<message name="agregarContactoServicioWeb">
<part name="parameters" element="tns:agregarContactoServicioWeb"/>
</message>
<message name="agregarContactoServicioWebResponse">
<part name="parameters" element="tns:agregarContactoServicioWebResponse"/>
</message>
<message name="editarContactoServicioWeb">
<part name="parameters" element="tns:editarContactoServicioWeb"/>
</message>
<message name="editarContactoServicioWebResponse">
<part name="parameters" element="tns:editarContactoServicioWebResponse"/>
</message>
<message name="eliminarContactoServicioWeb">
<part name="parameters" element="tns:eliminarContactoServicioWeb"/>
</message>
<message name="eliminarContactoServicioWebResponse">
<part name="parameters" element="tns:eliminarContactoServicioWebResponse"/>
</message>
<message name="busquedaAvanzada">
<part name="parameters" element="tns:busquedaAvanzada"/>
</message>
<message name="busquedaAvanzadaResponse">
<part name="parameters" element="tns:busquedaAvanzadaResponse"/>
</message>
<message name="busquedaSimple">
<part name="parameters" element="tns:busquedaSimple"/>
</message>
<message name="busquedaSimpleResponse">
<part name="parameters" element="tns:busquedaSimpleResponse"/>
</message>
<portType name="Servicio">
<operation name="agregarContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/agregarContactoServicioWebRequest" message="tns:agregarContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/agregarContactoServicioWebResponse" message="tns:agregarContactoServicioWebResponse"/>
</operation>
<operation name="editarContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/editarContactoServicioWebRequest" message="tns:editarContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/editarContactoServicioWebResponse" message="tns:editarContactoServicioWebResponse"/>
</operation>
<operation name="eliminarContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/eliminarContactoServicioWebRequest" message="tns:eliminarContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/eliminarContactoServicioWebResponse" message="tns:eliminarContactoServicioWebResponse"/>
</operation>
<operation name="busquedaAvanzada">
<input wsam:Action="http://capaServicio/Servicio/busquedaAvanzadaRequest" message="tns:busquedaAvanzada"/>
<output wsam:Action="http://capaServicio/Servicio/busquedaAvanzadaResponse" message="tns:busquedaAvanzadaResponse"/>
</operation>
<operation name="busquedaSimple">
<input wsam:Action="http://capaServicio/Servicio/busquedaSimpleRequest" message="tns:busquedaSimple"/>
<output wsam:Action="http://capaServicio/Servicio/busquedaSimpleResponse" message="tns:busquedaSimpleResponse"/>
</operation>
</portType>
<binding name="ServicioPortBinding" type="tns:Servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregarContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaAvanzada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaSimple">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicio">
<port name="ServicioPort" binding="tns:ServicioPortBinding">
<soap:address location="http://localhost:8080/Taller6/Servicio"/>
</port>
</service>
</definitions>